.code-box{
  border: 1px solid #ebedf0;
  border-radius: 2px;
  display: inline-block;
  width: 100%;
  position: relative;
  margin: 0 0 16px;
  transition: all .2s;
}
.code-box-demo{
  border-bottom: 1px solid #ebedf0;
  padding: 42px 24px 50px;
  color: rgba(0,0,0,.65);
}
